@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
  font-family: 'Open Sans', sans-serif !important;
}
.increase-width {
  width: 100% !important;
}

td {
  white-space: nowrap;
}

th {
  text-transform: capitalize;
}

.page-items-active {
  background-color: aquamarine;
  color: aquamarine;
}